:root {
  --color-pink: #ffc8dd;
  --color-purple: #d4b2dc;
  --color-purple-dark: #98a2d6;
  --color-blue: #4a93c1;
  --color-green: #006e66;
  --color-green-light: #00839b;
  --color-white: #fff;
  --border-radius: 4px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0.5rem;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__list__item {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

.nav__list__item:hover {
  border-color: var(--color-white);
}

.nav__list__item a {
  display: block;
  padding: 1em;
}

/* Common */
.section {
  padding: 8rem 0;
  text-align: center;
}

.section__title {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin-bottom: 1rem;
}

.section__description {
  max-width: 60%;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin-bottom: 1rem;
}

.orange {
  color: #e96228;
}

.blue {
  color: #0b70b2;
}

.yellow {
  color: #f7d237;
}

.pink {
  color: #c96195;
}

/* Home */
#home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 6.25rem 0 8rem;
  background: rgb(255, 200, 221);
  background: linear-gradient(
    180deg,
    rgba(255, 200, 221, 1) 21%,
    rgba(212, 178, 220, 1) 100%
  );
}

.home__btn {
  display: block;
  padding: 1rem;
  font-weight: 700;
  border: 1px solid var(--color-white);
  border-radius: var(--border-radius);
  transition: opacity 200ms ease-out;
}

.home__btn:hover {
  opacity: 0.5;
}

.custom-shape-divider-bottom-1668997841 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  pointer-events: none;
}

.custom-shape-divider-bottom-1668997841 svg {
  position: relative;
  display: block;
  width: calc(184% + 1.3px);
  height: 175px;
}

.custom-shape-divider-bottom-1668997841 .shape-fill {
  fill: #ffffff;
}

/* Skills */

.skill__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skill__category {
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.skill {
  padding: 2rem;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.skill:hover .skill__icon i {
  transform: scale(1.1);
}

.skill__icon i {
  transition: transform 200ms ease;
}

.skill__icon {
  font-size: 5rem;
}

.skill__title {
  margin-bottom: 0.5rem;
}
